name: dbt CI

on:
  push:
    branches:
      - main

jobs:
  dbt_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dbt-duckdb
        run: pip install dbt-duckdb

      - name: Run dbt test
        working-directory: ./dbt_project # dbt commands should be run from the dbt project directory
        env:
          DBT_PROFILES_DIR: /github/workspace/dbt_project # Point to the profiles.yml within the checked out repo
        run: dbt test